<form #profileForm="ngForm" (ngSubmit)="saveProfile()">
  <mat-card>
    <mat-card-title>Edit Profile</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Enter username" [(ngModel)]="profile.email" name="email" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter email" [(ngModel)]="profile.username" name="username" required>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="profile.currentFavType" name="favType">
          <mat-option value="song">Song</mat-option>
          <mat-option value="artist">Artist</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter favorite" [(ngModel)]="profile.currentFav" name="currentFav">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Genre 1" [(ngModel)]="profile.genres[0]" name="genre1">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Genre 2" [(ngModel)]="profile.genres[1]" name="genre2">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Genre 3" [(ngModel)]="profile.genres[2]" name="genre3">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Favorite Song" [(ngModel)]="profile.topSong" name="topSong">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Favorite Artist" [(ngModel)]="profile.topArtist" name="topArtist">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" [disabled]="!profileForm.form.valid">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
