<mat-card class="profile-card" >
    <mat-card-header>
      <mat-card-title>Edit Profile</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <form class="example-form">
            <div *ngFor="let bio of bio">
                <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder={{bio.name}} value={{bio.name}}>
                </mat-form-field>

                <mat-label>Select an option</mat-label>
                <mat-select placeholder={{bio.currentFavType}} value={{bio.currentFavType}}>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Current Favorite Artist</mat-option>
                    <mat-option value="option2">Current Favorite Song</mat-option>
                    <mat-option value="option3">Current Favorite Genre</mat-option>
                </mat-select>
            
                <mat-form-field class="example-full-width">
                <input matInput placeholder={{bio.currentFav}} value={{bio.currentFav}}>
                </mat-form-field>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <mat-label>First Genre</mat-label>
                          <!-- Binding to the first genre in the array -->
                          <input matInput placeholder="{{bio.genres[0]}}" [(ngModel)]="bio.genres[0]">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="example-full-width">
                          <mat-label>Second Genre</mat-label>
                          <!-- Binding to the second genre in the array -->
                          <input matInput placeholder="{{bio.genres[1]}}" [(ngModel)]="bio.genres[1]">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="example-full-width">
                          <mat-label>Third Genre</mat-label>
                          <!-- Binding to the third genre in the array -->
                          <input matInput placeholder="{{bio.genres[2]}}" [(ngModel)]="bio.genres[2]">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  

                <mat-form-field class="example-full-width">
                <mat-label>All-Time Favorite Song</mat-label>
                <input matInput placeholder={{bio.topSong}} value={{bio.topSong}}>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                <mat-label>All-Time Favorite Artist</mat-label>
                <input matInput placeholder={{bio.topArtist}} value={{bio.topArtist}}>
                </mat-form-field>
            </div>
        </form>
      

        <mat-card-actions align="end">
            <button class="btn btn-outline-success search-button" type="submit">Save</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
