.nav-container{
  background-color: #fff8f8;
  width: 100vw;
  border: 0px #d6c2c5 solid;
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search{
  display: flex;
  flex-direction: row;
  width: fit-content;
  position: absolute;
  right: 5px;
  
}
.search-input{
  width: 40vw;
  border-radius: 5px 0px 0px 5px;
}
.search-button{
  border-radius: 0px 5px 5px 0px;
}