<br>
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Current Favorite Artist: COIN</mat-card-subtitle>
      <mat-card-actions align="end">
        <button mat-button>Edit</button>
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
      <p>
        
      </p>
      <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>indie</mat-chip>
        <mat-chip>pop</mat-chip>
        <mat-chip>hyperpop</mat-chip>
      </mat-chip-set>
      <br>
      <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>music_note</mat-icon>
          <span>stupid horse</span>
          &nbsp;
          <mat-icon>person</mat-icon>
          <span>100 gecs</span>
        </div>    
    </mat-card-content>
    </mat-card>

    <br>

    <!-- POSTS -->
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Dog Breeds</mat-card-title>
        <mat-card-subtitle>Various Groups</mat-card-subtitle>
      </mat-card-header>

      <!-- First Card - Australian Shepherd -->
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Australian Shepherd</mat-card-title>
          <mat-card-subtitle>Herding group</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Learn More</button>
        </mat-card-actions>
      </mat-card>

      <br>

      <!-- Second Card - Poodle -->
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Poodle</mat-card-title>
          <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button>Learn More</button>
        </mat-card-actions>
      </mat-card>
      <br>
    </mat-card>

  

