<!-- temporary BAR -->
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<!-- PROFILE -->
<mat-card class="profile-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Current Favorite Artist: COIN</mat-card-subtitle>
      <mat-card-actions align="end">
        <button mat-button>Edit</button>
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
      <p>
        
      </p>
      <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>indie</mat-chip>
        <mat-chip>pop</mat-chip>
        <mat-chip>hyperpop</mat-chip>
      </mat-chip-set>
      <br>
      <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>music_note</mat-icon>
          <span>stupid horse</span>
          &nbsp;
          <mat-icon>person</mat-icon>
          <span>100 gecs</span>
        </div>    
    </mat-card-content>
    </mat-card>

    <div class="container">
    <br>
      <!-- POSTS -->
      <mat-card class="example-card left-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Your Posts</mat-card-title>
        </mat-card-header>
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>Australian Shepherd</mat-card-title>
            <mat-card-subtitle>Herding group</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>Learn More</button>
          </mat-card-actions>
        </mat-card>
    
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>Poodle</mat-card-title>
            <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button>Learn More</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </mat-card>
    
      <!-- FRIENDS -->
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Your Friends</mat-card-title>
        </mat-card-header>
        <mat-list>
          <mat-list-item>
            <div fxLayout="row" fxLayoutAlign="start center" class="icon-text">
              <img src="assets/download.jpg" alt="Item 1" class="icon-image">
              <span>Friend 1</span>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div fxLayout="row" fxLayoutAlign="start center" class="icon-text">
              <img src="assets/download.jpg" alt="Item 1" class="icon-image">
              <span>Friend 1</span>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div fxLayout="row" fxLayoutAlign="start center" class="icon-text">
              <img src="assets/download.jpg" alt="Item 1" class="icon-image">
              <span>Friend 1</span>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    