
<!-- PROFILE -->
<div *ngFor="let profile of profiles">
  <app-bio [profile]="profile"></app-bio>
  </div>

<div class="container">
  <br>
    <!-- POSTS -->
    <mat-card class="example-card left-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Your Posts</mat-card-title>
      </mat-card-header>
      <div *ngFor="let post of posts;let myProfile = odd">
        <app-song-card *ngIf="post.type === 'favorite-song'" [post]="post"></app-song-card>
        <app-review-card *ngIf="post.type === 'album-review'" [post]="post"></app-review-card>
        <app-playlist-card *ngIf="post.type === 'playlist'" [post]="post"></app-playlist-card>
      </div>
    
      <br>
    </mat-card>
  
    <!-- FRIENDS -->
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Your Friends</mat-card-title>
      </mat-card-header>
      <mat-list>
          <div *ngFor="let friend of friends">
            <app-friends [friend]="friend"></app-friends>
          </div>
      </mat-list>
    </mat-card>
</div>
  