.profile-card {
  width: 100%;
  display: flex; 
  justify-content: center;
  margin: 0 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  background-position: center;
}

mat-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

span {
  white-space: nowrap;
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-image {
  margin-right: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.page{
  width: 100vw;
}
.container {
  width: 98%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: stretch;
}

.example-card {
  flex: 1;
  margin: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-card {
  flex: 2;
}

.right-card {
  flex: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.search-buttn{
  border-radius: 5px 5px 5px 5px;
}