.profile-card {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
