.example-card {
  width: 60vw;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#user{
  &:hover{
    cursor: pointer;
    color: gray;
  }
}

.content{
  display: flex;
  justify-content: space-between;  /* Space between items */
  align-items: center;  
  
}

.song-player{
  background-color: white;  
}
